.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 10px;
}

.btn-1 {
  background-color: green;
  color: greenyellow;
}

.btn-2 {
  background-color: green;
  color: greenyellow;
}
