<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css">
    <link rel="icon" href="../favicon.png">
    <title>Игры / FreshLend</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <a href="#" onclick="goBack()">< Назад</a>
            <div class="block">
                <h1 class="title is-1">FreshLend</h1>
            </div>
        </div>
    </section>

    <script>
        function goBack() {
            history.back();
        }
    </script>
                <p>
                        главный персонаж решил вживить себе в мозг ИИ помощника, но после вживления ИИ в операционной открывается портал и из него вылазеет Робот с Исскуственным Интеллектом (по виду он из далёкого будуещего).Который убил врача и перепрограммировал установку где был ГГ, после этого он её запустил и ГГ всё видел в 2д. Монстр кинул ГГ в портал и залез сам, но монстр куда то делся и это хорошо! ГГ окозался в мире FreshLend в далёком прошлом где ему придстоит найти "TopDown очки" и в конце "3D очки" чтоб увидить другой мир. Цель ГГ найти того Робота и перепрограммировать его чтоб тот вернул ГГ обратно и по пути ему будут встречатся сложности.
                </p>
            </div>
            <div class="section">
            <div class="block">
                <h3 class="title is-3">Управление</h3>
                <p>WASD - передвижение игрока</p>
                <p>Колёсико - приближение камеры в 2D и 2D TopDown мире</p>
            </div>
            <div class="block">
                <h3 class="title is-3">Известные баги</h3>
                <p>
                    <p>Их нет так как нет игры!</p>
                </p>
            </div>
            <div class="block">
                <h3 class="title is-3">Скачать</h3>
                <div class="notification">Пока что игра не разрабатывается, в связи с этим файлы для скачивания отсутствуют.</div>
            </div>
        </div>
    </section>
</body>
</html>